## .NET / Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Rider
.idea/

## Build output
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/

## Misc
*.log
*.tmp
*.swp
.vscode/
